#heroSection{
    height: 432px;
    border-bottom-right-radius: 1000px;
    border-bottom: 1px solid #9AFF12;
    position: relative;
}

#heroImage{
    height: auto;
    max-width: 350px;
}

.poster{
    height: auto;
    max-width: 210px;
}

.navbar-fixed{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.heading1{
    font-size: 2rem;
}

.rounded-image{
    border-radius: 50%;
}

.heading2{
    font-size: 1.7rem;
}

.heading3{
    font-size: 1.4rem;
}

.p1{
    font-size: 18px;
}

.event-card:hover {
    box-shadow: 0 0 8px rgba(154, 255, 18, 0.6), 0 0 14px rgba(154, 255, 18, 0.4), 0 0 19px rgba(154, 255, 18, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.primary-shadow{
    box-shadow: 0 0 8px rgba(154, 255, 18, 0.6), 0 0 14px rgba(154, 255, 18, 0.4), 0 0 19px rgba(154, 255, 18, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 1139px){
    #heroSection{
        border-bottom-right-radius: 0;
        height: fit-content;
    }

    #heroImage{
        position: static;
        display: block;
        margin: auto;
    }
}

@media (max-width: 775px){
    #heroSection{
        border-bottom-right-radius: 0;
        height: fit-content;
    }

    #heroImage{
        position: static;
        display: block;
        margin: auto;
    }

    #heroText{
        width: 100%;
    }
}